* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ff3737 45%, #fefefe 90%);
    color: #c9d1d9;
}

.header {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
}

.main-nav__list {
    list-style: none;
}

.list-item__link {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000; /* Change text color to black */
    text-decoration: none; /* Remove underline */
    text-transform: uppercase; /* Make text uppercase */
    background: transparent; /* Remove black background */
}

.list-item__link::after {
    position: absolute;
    transition: 0.2s;
    content: "";
    border-radius: 10px;
    width: 55%;
    height: 3px;
    bottom: -12px;
    background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.list-item__link:hover::after {
    width: 100%;
}

.list-item__link {
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1.8s ease; /* Make the transition smoother and slower */
}
.list-item__link:hover {
    transform: translateY(10px);
}

.gallery {
    padding: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.gallery-item {
    background: #161b22;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent; /* Initial border color */
}

.gallery-item:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    border-color: #c9d1d9; /* Change border color to white */
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.item-description {
    padding: 1rem;
    text-align: center;
    color: #c9d1d9;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .gallery-item img {
        height: 150px;
    }
}