@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 3%;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  background: linear-gradient(180deg, #121b12 0%, rgba(34, 37, 35, 0.664) 100%);
  color: #657a68;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.main-list {
  display: flex;
  gap: 150px;
}

.list-item__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #E0E0E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none; /* Remove background image */
  padding: 5vh 10vw 80vh 10vw;
  gap: 40px;
}

.home__image {
  width: 600px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Add some margin if needed */
}

.list-item__link {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1,5s ease; /* Make the transition smoother and slower */
}

.list-item__link:hover {
  transform: translateY(10px);
}

.home__title {
  letter-spacing: 0.3em;
  font-size: 42px; 
  text-align: center;
  color: #6b6f80; 
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(141, 40, 40, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  margin-top: 20px; /* Añade margen superior al párrafo */
}

.list-item__link {
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.9s ease; /* Make the transition smoother */
  }

.list-item__link:hover {
  transform: translateY(10px); /* Mueve el "WELCOME" hacia abajo al pasar el ratón */
}

.about {
  margin-top: -500px; /* Move the section upwards */
  margin-bottom: 200px;
}

.about__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #bdd1c2;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 50px;
}

.about__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block {
  display: flex;
  justify-content: space-between;
}

.info-block__text {
  width: 40%;
  color: #C9D1D9;
}

.info-block__img {
  align-self: center;
}

.skills {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: center;
}

.skills__title {
  margin: 0 auto; /* Center the title horizontally */
  margin-top: -100px; /* Adjust vertical position if needed */
  margin-bottom: 200px;
  font-size: 60px;
  text-align: center;
  color: #8A9BA8;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.skills__title::after {
  content: none; /* Remove the pseudo-element */
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  color: black;
  margin-top: -200px; /* Move the section upwards */
}

.skill__img {
  width: 300px; /* Set a fixed width for horizontal shape */
  height: 150px; /* Set a fixed height for horizontal shape */
  border-radius: 20px; /* Rounded corners */
  object-fit: cover; /* Ensure the image covers the area */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.skill__info {
  width: 150px;
}

.skill__button {
  font: inherit;
  font-weight: 900;
  padding: 10px 20px; /* Adjust padding for a larger button */
  color: #E6F7E1; /* Change text color for contrast */
  background: #3A4F41; /* Set a light background color for contrast */
  border: none; /* Remove border */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for animation */
  border-radius: 20px;;
}

.skill__button:hover {
  background-color: #000; /* Change background on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project__img{
  border-radius: 30px;
}

.project__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #8A9BA8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__link:hover::after {
  width: 100%;
}

.feedback {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #8A9BA8;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.feedback__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.form label {
  width: 100%;
}

.form__input {
  width: 100%;
  font: inherit;
  background: #424B54;
  border: 2px solid #424B54;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.form__input::placeholder {
  color: #C9D1D9;
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
  border: none;
}


.form__button {
  font: inherit;
  font-weight: 800;
  color: #D3D7DA;
  background: linear-gradient(111.97deg, #5C6D79 35.63%, rgb(0, 0, 0) 150.16%);
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.footer{
  color:#fff
}